.page-list .current_page_item > a {
font-weight: bold; } .page-list-ext {
clear: both;
} .page-list-ext {
*zoom: 1;
}
.page-list-ext:before, .page-list-ext:after {
display: table;
line-height: 0;
content: "";
}
.page-list-ext:after {
clear: both;
}
.page-list-ext .page-list-ext-item {
clear: both;
margin: 10px 0 30px 0;
-webkit-column-break-inside: avoid;
page-break-inside: avoid;
break-inside: avoid;
}
.page-list-ext .page-list-ext-image {
float: left;
display: inline;
margin: 5px 15px 15px 0;
}
.page-list-ext .page-list-ext-title {
clear: none;
}
.page-list-cols-2,
.page-list-cols-3,
.page-list-cols-4,
.page-list-cols-5 {
-webkit-column-gap: 30px;
-moz-column-gap: 30px;
column-gap: 30px;
}
.page-list-cols-2 {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}
.page-list-cols-3 {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
}
.page-list-cols-4 {
-webkit-column-count: 4;
-moz-column-count: 4;
column-count: 4;
}
.page-list-cols-5 {
-webkit-column-count: 5;
-moz-column-count: 5;
column-count: 5;
} @media (max-width: 767px) { .page-list-cols-2,
.page-list-cols-3,
.page-list-cols-4,
.page-list-cols-5 {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}
}.perfect-pullquote blockquote, .perfect-pullquote blockquote p { margin:0 !important;
padding:0 !important;
border:0 !important;
outline:0 !important;
font-size:100% !important;
text-align: left !important;
vertical-align:baseline !important;
background:transparent !important;
quotes:none !important;
}
.perfect-pullquote blockquote:before,
.perfect-pullquote blockquote:after,
.perfect-pullquote blockquote p:before,
.perfect-pullquote blockquote p:after {
content:'' !important;
content:none !important;
}
.perfect-pullquote blockquote footer:before {
content:'\2014 \00A0' !important;
}
.perfect-pullquote blockquote footer {
margin-top:4px;
}
.perfect-pullquote blockquote footer cite {
font-style: italic;
}
.perfect-pullquote blockquote footer cite a {
display: inline-block;
font-style: italic;
}
.perfect-pullquote {
color:#363636;
font-size:21px;
line-height: 1.5;
display: block;
width: 30%;
padding: 0.5em 1em;
margin: 24px 0px;
}
.perfect-pullquote.pullquote-align-full {
width:95%;
}
.perfect-pullquote blockquote p {
color:#363636;
font-size:21px;
line-height: 1.5;
}
.pullquote-align-left {
text-align: left;
margin: 0.5em 1.5em 1em 0;
float: left;
}
.pullquote-align-right {
text-align: left;
margin: 0.5em 0 1em 1.5em;
float: right;
}
.pullquote-align-full {
text-align: left;
margin: 0.5em 0 1em 1.5em;
padding-right: 0;
float: none;
}
.pullquote-border-placement-left {
border-left: 5px solid #eeeeee;
}
.pullquote-border-placement-right {
border-right: 5px solid #eeeeee;
}
.pullquote-border-placement-top {
border-top: 5px solid #eeeeee;
padding-left:.5em;
padding-right: .5em;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
.perfect-pullquote {
width:50% !important;
}
.perfect-pullquote.pullquote-align-full {
margin: 0.5em 0 1em 0.5em;
width:95% !important;
}
}
@media screen and (max-width: 768px) {
.perfect-pullquote {
margin: 0.5em 0 1em 0.5em !important;
padding: 0.5em 1em;
padding-right: 0;
width:95% !important;
border-left: 5px solid #eeeeee;
border-right: none !important;
border-top: none !important;
float:none;
}
}.wpml-ls-legacy-list-horizontal{border:1px solid transparent;padding:7px;clear:both}.wpml-ls-legacy-list-horizontal>ul{padding:0;margin:0 !important;list-style-type:none}.wpml-ls-legacy-list-horizontal .wpml-ls-item{padding:0;margin:0;list-style-type:none;display:inline-block}.wpml-ls-legacy-list-horizontal a{display:block;text-decoration:none;padding:5px 10px 6px;line-height:1}.wpml-ls-legacy-list-horizontal a span{vertical-align:middle}.wpml-ls-legacy-list-horizontal a span.wpml-ls-bracket{vertical-align:unset}.wpml-ls-legacy-list-horizontal .wpml-ls-flag{display:inline;vertical-align:middle}.wpml-ls-legacy-list-horizontal .wpml-ls-flag+span{margin-left:.4em}.rtl .wpml-ls-legacy-list-horizontal .wpml-ls-flag+span{margin-left:0;margin-right:.4em}.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer{margin-bottom:30px}.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer>ul{text-align:center}.wpml-ls-menu-item .wpml-ls-flag{display:inline;vertical-align:baseline}.wpml-ls-menu-item .wpml-ls-flag+span{margin-left:.3em}.rtl .wpml-ls-menu-item .wpml-ls-flag+span{margin-left:0;margin-right:.3em}.ast-page-builder-template .ast-article-post{margin-bottom:2.5em}.ast-featured-post{float:none}.ast-separate-container .ast-separate-posts.ast-article-post{margin-bottom:2em}.ast-animate-hidden{visibility:hidden;opacity:0}.ast-animate-display{visibility:visible;opacity:1}.ast-no-thumb .ast-date-meta .posted-on{margin-bottom:1.5em}.ast-date-meta.circle .posted-on{border-radius:50%;overflow:hidden}.has-post-thumbnail .ast-date-meta.circle .posted-on{margin:1em}.ast-single-post .entry-header.ast-no-title.ast-no-thumbnail{margin-bottom:2em}.ast-separate-container .ast-grid-1 .blog-layout-1{padding:0}.ast-separate-container .ast-grid-1 .blog-layout-2,.ast-separate-container .ast-grid-1 .blog-layout-3{padding:0;border-bottom:0}.ast-separate-container .ast-grid-2 .ast-article-post,.ast-separate-container .ast-grid-3 .ast-article-post,.ast-separate-container .ast-grid-4 .ast-article-post{background:0 0}.ast-separate-container .ast-grid-2 .ast-article-post .blog-layout-2,.ast-separate-container .ast-grid-2 .ast-article-post .blog-layout-3,.ast-separate-container .ast-grid-3 .ast-article-post .blog-layout-2,.ast-separate-container .ast-grid-3 .ast-article-post .blog-layout-3,.ast-separate-container .ast-grid-4 .ast-article-post .blog-layout-2,.ast-separate-container .ast-grid-4 .ast-article-post .blog-layout-3{border-bottom:0}.ast-separate-container .blog-layout-1,.ast-separate-container .blog-layout-2,.ast-separate-container .blog-layout-3{padding:2.66666em}.ast-separate-container .ast-grid-2 .blog-layout-1,.ast-separate-container .ast-grid-2 .blog-layout-2,.ast-separate-container .ast-grid-2 .blog-layout-3,.ast-separate-container .ast-grid-3 .blog-layout-1,.ast-separate-container .ast-grid-3 .blog-layout-2,.ast-separate-container .ast-grid-3 .blog-layout-3,.ast-separate-container .ast-grid-4 .blog-layout-1,.ast-separate-container .ast-grid-4 .blog-layout-2,.ast-separate-container .ast-grid-4 .blog-layout-3{padding:1.5em}@media (max-width:1200px){.ast-separate-container .ast-grid-2 .ast-article-post:nth-child(2n+0),.ast-separate-container .ast-grid-2 .ast-article-post:nth-child(odd),.ast-separate-container .ast-grid-3 .ast-article-post:nth-child(2n+0),.ast-separate-container .ast-grid-3 .ast-article-post:nth-child(odd),.ast-separate-container .ast-grid-4 .ast-article-post:nth-child(2n+0),.ast-separate-container .ast-grid-4 .ast-article-post:nth-child(odd){padding:0}.ast-separate-container .blog-layout-1,.ast-separate-container .blog-layout-2,.ast-separate-container .blog-layout-3{padding:1.5em}}.ast-page-builder-template .ast-article-post .entry-header{margin:auto auto 1em auto;padding:0}.ast-article-post .ast-post-format-audio.ast-embeded-audio .ast-date-meta .posted-on{position:relative;display:inline-block;margin-bottom:1em}.ast-page-builder-template.single .post-navigation{margin-top:2em}hr.post-divider{height:0;margin:0}hr.ast-single-previous-hr{height:0;margin-top:2em}.ast-show-comments-data{padding:2em 6.67em}.ast-show-comments-data .ast-show-comments{cursor:pointer}.ast-show-comments-data .ast-show-comments,.ast-show-comments-data .ast-show-comments-count{max-width:640px;text-align:center;margin-left:auto;margin-right:auto}.ast-show-comments-data .ast-show-comments-count{margin-bottom:2em}.ast-pagination-circle .ast-pagination .page-numbers,.ast-pagination-square .ast-pagination .page-numbers{border-style:solid;border-width:1px;line-height:2.33333em}.ast-pagination-circle .ast-pagination .page-numbers{border-radius:50%}.ast-pagination-circle .ast-pagination .next.page-numbers,.ast-pagination-circle .ast-pagination .prev.page-numbers{border-radius:30px}@media all and (max-width:768px){#content:before{content:""}}.ast-pagination-infinite{text-align:center;margin:2.5em 0 0}.ast-page-builder-template .ast-pagination-infinite{margin:2.5em 0}.ast-load-more{cursor:pointer;display:none;border:2px solid var(--ast-border-color);transition:all .2s linear;color:#000}.ast-load-more.active{display:inline-block;padding:0 1.5em;line-height:3em}.ast-load-more.no-more:hover{border-color:var(--ast-border-color);color:#000}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.ast-load-more.no-more:hover{background-color:inherit}.no-more{cursor:default}.ast-loader{display:none;margin:0 auto;min-height:58px;line-height:58px;width:70px;text-align:center}.ast-loader>div{width:18px;height:18px;background-color:#0085ba;border-radius:100%;display:inline-block;animation:sk-bouncedelay 1.4s infinite ease-in-out both}.ast-loader .ast-loader-1{animation-delay:-.32s}.ast-loader .ast-loader-2{animation-delay:-.16s}@keyframes sk-bouncedelay{0%,100%,80%{transform:scale(0)}40%{transform:scale(1)}}.ast-blog-pagination-type-infinite .ast-pagination{display:none}.blog-layout-1 .post-thumb .posted-on{position:absolute;top:0}.blog-layout-1 .post-thumb .posted-on .entry-date span{display:block;width:100%;text-align:center}.blog-layout-1.ast-no-thumb .posted-on{position:relative;display:inline-block}.ast-separate-container .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .square .posted-on{margin-left:calc(-1 * var(--ast-container-default-xlg-padding))}@media (max-width:1200px){.ast-separate-container .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .square .posted-on{margin-left:calc(-1 * var(--ast-container-default-lg-padding))}}.ast-separate-container .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .circle .posted-on{margin-left:calc(-1 * var(--ast-container-default-slg-padding))}@media (max-width:1200px){.ast-separate-container .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .circle .posted-on{margin-left:calc(-1 * var(--ast-container-default-xxs-padding))}}.ast-separate-container .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .square .posted-on{margin-top:calc(-1 * var(--ast-container-default-md-padding))}@media (max-width:1200px){.ast-separate-container .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .square .posted-on{margin-top:calc(-1 * var(--ast-container-default-sm-padding))}}.ast-separate-container .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .circle .posted-on{margin-top:calc(-1 * var(--ast-container-default-slg-padding))}@media (max-width:1200px){.ast-separate-container .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .circle .posted-on{margin-top:calc(-1 * var(--ast-container-default-xs-padding))}}.ast-separate-container .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-content .ast-blog-featured-section:first-child .post-thumb-img-content{margin-top:calc(-1 * var(--ast-container-default-md-padding))}@media (max-width:1200px){.ast-separate-container .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-content .ast-blog-featured-section:first-child .post-thumb-img-content{margin-top:calc(-1 * var(--ast-container-default-sm-padding))}}.ast-separate-container .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-thumb-img-content{margin-left:calc(-1 * var(--ast-container-default-xlg-padding));margin-right:calc(-1 * var(--ast-container-default-xlg-padding))}@media (max-width:1200px){.ast-separate-container .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-thumb-img-content{margin-left:calc(-1 * var(--ast-container-default-xs-padding));margin-right:calc(-1 * var(--ast-container-default-xs-padding))}}.ast-separate-container .ast-article-single.remove-featured-img-padding .single-layout-1 .entry-header .post-thumb-img-content:first-child{margin-top:calc(-1 * var(--ast-container-default-md-padding))}@media (max-width:1200px){.ast-separate-container .ast-article-single.remove-featured-img-padding .single-layout-1 .entry-header .post-thumb-img-content:first-child{margin-top:calc(-1 * var(--ast-container-default-sm-padding))}}.ast-separate-container .ast-article-single.remove-featured-img-padding .single-layout-1 .post-thumb-img-content{margin-left:calc(-1 * var(--ast-container-default-xlg-padding));margin-right:calc(-1 * var(--ast-container-default-xlg-padding))}@media (max-width:1200px){.ast-separate-container .ast-article-single.remove-featured-img-padding .single-layout-1 .post-thumb-img-content{margin-left:calc(-1 * var(--ast-container-default-xs-padding));margin-right:calc(-1 * var(--ast-container-default-xs-padding))}}.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .square .posted-on,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .square .posted-on,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .square .posted-on{margin-left:-1.5em;margin-right:-1.5em}@media (max-width:1200px){.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .square .posted-on,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .square .posted-on,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .square .posted-on{margin-left:-1.5em;margin-right:-1.5em}}.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .circle .posted-on,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .circle .posted-on,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .circle .posted-on{margin-left:-.5em;margin-right:-.5em}@media (max-width:1200px){.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .circle .posted-on,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .circle .posted-on,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section .circle .posted-on{margin-left:-.5em;margin-right:-.5em}}.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .square .posted-on,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .square .posted-on,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .square .posted-on{margin-top:-1.5em}@media (max-width:1200px){.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .square .posted-on,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .square .posted-on,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .square .posted-on{margin-top:-1.5em}}.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .circle .posted-on,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .circle .posted-on,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .circle .posted-on{margin-top:-.5em}@media (max-width:1200px){.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .circle .posted-on,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .circle .posted-on,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding.has-post-thumbnail .blog-layout-1 .post-content .ast-blog-featured-section:first-child .circle .posted-on{margin-top:-.5em}}.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-content .ast-blog-featured-section:first-child .post-thumb-img-content,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-content .ast-blog-featured-section:first-child .post-thumb-img-content,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-content .ast-blog-featured-section:first-child .post-thumb-img-content{margin-top:-1.5em}@media (max-width:1200px){.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-content .ast-blog-featured-section:first-child .post-thumb-img-content,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-content .ast-blog-featured-section:first-child .post-thumb-img-content,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-content .ast-blog-featured-section:first-child .post-thumb-img-content{margin-top:-1.5em}}.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-thumb-img-content,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-thumb-img-content,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-thumb-img-content{margin-left:-1.5em;margin-right:-1.5em}@media (max-width:1200px){.ast-separate-container.ast-blog-grid-2 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-thumb-img-content,.ast-separate-container.ast-blog-grid-3 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-thumb-img-content,.ast-separate-container.ast-blog-grid-4 .ast-article-post.remove-featured-img-padding .blog-layout-1 .post-thumb-img-content{margin-left:-1.5em;margin-right:-1.5em}}.ast-hb-account-login-wrapper .ast-hb-account-login{position:fixed;left:50%;top:50%;padding:35px;max-height:550px;width:340px;margin:0 0 0 -170px;background-color:#f1f1f1;z-index:1000011;box-shadow:0 3px 6px rgba(0,0,0,.3)}.ast-hb-account-login-wrapper .ast-hb-account-login-bg{position:fixed;top:0;bottom:0;left:0;right:0;background:#000;opacity:.7;z-index:1000010;transition:all .3s}.ast-hb-account-login-wrapper .ast-hb-login-header .ast-hb-login-close{background:0 0;border:0;font-size:24px;line-height:1;padding:.4em;color:inherit;-js-display:flex;display:flex;box-shadow:none}.ast-hb-account-login-wrapper #loginform input[type=password],.ast-hb-account-login-wrapper #loginform input[type=text]{width:100%;max-width:100%;margin-top:10px;border:1px solid;background-color:transparent;vertical-align:middle}.ast-hb-account-login-form-footer a.ast-header-account-footer-link:not(:last-child) span:after{content:"|";margin:0 .4em}.ast-header-account-wrap .ast-header-account-link{pointer-events:none}.ast-header-account-link.ast-account-action-link,.ast-header-account-link.ast-account-action-login,.ast-header-account-link.ast-account-action-login.customize-unpreviewable,.ast-header-break-point .ast-header-account-link{cursor:pointer;pointer-events:all}.ast-header-break-point .ast-hf-account-menu-wrap{display:none}.ast-header-account{-js-display:flex;display:flex}.ast-header-account-wrap .ast-hb-account-login-wrapper{visibility:hidden}.ast-header-account-wrap .ast-hb-account-login-wrapper .ast-hb-login-header{-js-display:flex;position:absolute;right:0;top:0;display:flex;justify-content:flex-end;min-height:calc(1.2em + 24px)}.ast-header-account-wrap .ast-hb-account-login-wrapper .ast-hb-account-login{transform:scale(.7);opacity:0;transition:all .3s;overflow:auto}.ast-header-account-wrap .ast-hb-account-login-wrapper.show{visibility:visible}.ast-header-account-wrap .ast-hb-account-login-wrapper.show .ast-hb-account-login{transform:scale(1) translateY(-50%);opacity:1}.ast-hb-login-body{height:100%;position:relative;line-height:1.5}.ast-desktop .ast-hf-account-menu-wrap.ast-main-header-bar-alignment{position:relative}.ast-desktop .main-header-bar .main-header-bar-navigation .ast-account-nav-menu{line-height:1.45}.ast-desktop .ast-account-nav-menu{width:240px;background:#fff;left:-999em;position:absolute;top:0;z-index:99999;list-style:none;margin:0;padding-left:0;border:0;box-shadow:0 4px 10px -2px rgba(0,0,0,.1)}.ast-desktop .ast-account-nav-menu .sub-menu{right:auto;top:0;margin-left:0}.ast-desktop .ast-account-nav-menu .menu-item.focus>.sub-menu,.ast-desktop .ast-account-nav-menu .menu-item:hover>.sub-menu{left:100%}.ast-desktop .ast-account-nav-menu .ast-left-align-sub-menu.menu-item.focus>.sub-menu,.ast-desktop .ast-account-nav-menu .ast-left-align-sub-menu.menu-item:hover>.sub-menu{left:-100%}.ast-desktop .ast-account-nav-menu .menu-item .menu-link{padding:.9em 1em}.ast-desktop .ast-account-nav-menu .menu-item{border-style:none}.ast-desktop .ast-account-nav-menu .menu-item.menu-item-has-children>.menu-link:after{position:absolute;right:1em;top:50%;transform:translate(0,-50%) rotate(270deg)}.ast-desktop .ast-above-header-bar .main-header-menu.ast-account-nav-menu>.menu-item,.ast-desktop .ast-below-header-bar .main-header-menu.ast-account-nav-menu>.menu-item,.ast-desktop .ast-primary-header-bar .main-header-menu.ast-account-nav-menu>.menu-item{height:auto;line-height:unset;bottom:-5px}.site-header-section-left .ast-header-account-wrap.focus .ast-account-nav-menu,.site-header-section-left .ast-header-account-wrap:hover .ast-account-nav-menu{left:-100%;right:auto}.ast-header-account-wrap.focus .ast-account-nav-menu,.ast-header-account-wrap:hover .ast-account-nav-menu{right:-100%;left:auto}.ast-header-account-wrap .woocommerce-MyAccount-navigation-link.is-active a{background:unset}.ast-header-account-wrap .menu-item:last-child>.menu-link{border-style:none}.ast-divider-wrapper{border:0}.ast-mobile-popup-content .ast-header-divider-element{justify-content:center}.ast-header-divider-element{position:relative}.ast-fb-divider-layout-vertical{position:relative}.ast-hb-divider-layout-vertical.ast-header-divider-element{height:100%}.ast-mobile-header-content .ast-builder-layout-element:not(.ast-builder-menu):not(.ast-header-divider-element),.ast-mobile-popup-content .ast-builder-layout-element:not(.ast-builder-menu):not(.ast-header-divider-element){padding:15px 20px}.footer-widget-area .ast-footer-divider-element{position:relative;align-items:center}.footer-widget-area .ast-divider-wrapper{display:inline-block}.ast-builder-footer-grid-columns .ast-fb-divider-layout-horizontal{-js-display:inline-flex;display:inline-flex;vertical-align:middle}[data-section*=section-fb-button-] .ast-builder-button-size-xs .ast-custom-button,[data-section*=section-hb-button-] .ast-builder-button-size-xs .ast-custom-button{font-size:13px;padding:8px 20px}[data-section*=section-fb-button-] .ast-builder-button-size-sm .ast-custom-button,[data-section*=section-hb-button-] .ast-builder-button-size-sm .ast-custom-button{font-size:15px;padding:10px 40px}[data-section*=section-fb-button-] .ast-builder-button-size-md .ast-custom-button,[data-section*=section-hb-button-] .ast-builder-button-size-md .ast-custom-button{font-size:17px;padding:15px 45px}[data-section*=section-fb-button-] .ast-builder-button-size-lg .ast-custom-button,[data-section*=section-hb-button-] .ast-builder-button-size-lg .ast-custom-button{font-size:19px;padding:20px 50px}[data-section*=section-fb-button-] .ast-builder-button-size-xl .ast-custom-button,[data-section*=section-hb-button-] .ast-builder-button-size-xl .ast-custom-button{font-size:21px;padding:25px 55px}.ast-fb-divider-layout-vertical{-js-display:flex;display:flex}.site-footer-section{position:relative}.ast-builder-language-switcher .ast-builder-language-switcher-menu{list-style:none;margin:0;padding:0;line-height:normal;-webkit-tap-highlight-color:transparent}.ast-builder-language-switcher-layout-vertical .ast-builder-language-switcher{display:block}.ast-builder-language-switcher-layout-vertical .ast-builder-language-switcher-menu{display:block}.ast-builder-language-switcher-layout-horizontal .ast-builder-language-switcher{-js-display:flex;display:flex}.ast-builder-language-switcher-layout-horizontal .ast-builder-language-switcher-menu{-js-display:flex;display:flex;flex-wrap:wrap}.ast-builder-language-switcher a{-js-display:flex;display:flex;align-items:center}.ast-lswitcher-item-footer,.ast-lswitcher-item-header{-js-display:inline-flex;display:inline-flex}span.ast-lswitcher-item-footer:last-child,span.ast-lswitcher-item-header:last-child{margin-right:0}.ast-header-sticky-active{position:fixed!important;right:0;left:0;margin:0 auto;z-index:99}.ast-footer-sticky-active .ast-custom-footer{position:fixed!important;right:0;left:0;bottom:0;margin:0 auto;z-index:99}.ast-custom-header{position:relative;z-index:99}.ast-custom-header.ast-header-sticky-active .fl-row-content-wrap{transition:padding .3s linear}.ast-custom-header.ast-header-sticky-active .fl-module-content{transition:all .3s linear}.ast-custom-header.ast-header-sticky-active .elementor-section-wrap{transition:padding .3s linear}.ast-custom-header.ast-header-sticky-active .elementor-row>.elementor-column>.elementor-element-populated{transition:all .3s linear}.ast-shrink-custom-header .ast-custom-header.ast-sticky-shrunk .fl-row-content-wrap{transition:padding .3s linear;padding-top:5px;padding-bottom:5px;box-sizing:border-box}.ast-shrink-custom-header .ast-custom-header.ast-sticky-shrunk .fl-module-content{margin-top:5px;margin-bottom:5px;transition:all .3s linear}.ast-shrink-custom-header .ast-custom-header.ast-sticky-shrunk .fl-module-content.fl-node-content img{max-height:50px;width:auto}.ast-shrink-custom-header .ast-custom-header.ast-sticky-shrunk .elementor-section-wrap{transition:padding .3s linear;box-sizing:border-box}.ast-shrink-custom-header .ast-custom-header.ast-sticky-shrunk .elementor-section-wrap img{max-height:50px;width:auto}.ast-shrink-custom-header .ast-custom-header.ast-sticky-shrunk .elementor-row>.elementor-column>.elementor-element-populated{max-height:60px;transition:all .3s linear}.single-advanced-hook .ast-no-title,.single-advanced-hook .hentry{margin:0}.js_active .ast-plain-container.single-advanced-hook .entry-header{margin:0}body.ast-padded-layout::after,body.ast-padded-layout::before{background:inherit;content:"";display:block;height:0;left:0;position:fixed;width:100%;z-index:999}body.ast-padded-layout::after{bottom:0}body.ast-padded-layout{background-attachment:fixed}body.ast-padded-layout::before{top:0}@media (min-width:44.375em){body.ast-padded-layout.admin-bar::before{top:46px}}@media (min-width:48.9375em){body.ast-padded-layout.admin-bar::before{top:32px}}.elementor-page.ast-box-layout #page,.elementor-page.ast-padded-layout #page{overflow:hidden}.siteorigin-panels.ast-box-layout #page,.siteorigin-panels.ast-padded-layout #page{overflow:hidden}.ast-separate-container.ast-box-layout #content .ast-container{padding-left:0;padding-right:0}@media (max-width:768px){.ast-separate-container.ast-box-layout #content .ast-container{padding-left:20px;padding-right:20px}}@media (max-width:544px){.ast-separate-container.ast-box-layout #content .ast-container{padding-left:.54em;padding-right:.54em}}.js_active .ast-box-layout #page,.js_active .ast-padded-layout #page{overflow:hidden}.js_active .ast-box-layout.ast-page-builder-template .vc_row[data-vc-full-width],.js_active .ast-padded-layout.ast-page-builder-template .vc_row[data-vc-full-width]{max-width:100%;left:0!important}.ast-sticky-active{position:fixed!important;right:0;left:0;margin:0 auto;width:100%}.ast-nav-up{transform:translateY(-100%)}.site-header .sticky-custom-logo{display:none}.ast-primary-sticky-header-active li.ast-masthead-custom-menu-items a,.ast-primary-sticky-header-active li.ast-masthead-custom-menu-items a:focus,.ast-primary-sticky-header-active li.ast-masthead-custom-menu-items a:hover{background:0 0}.ast-fullscreen-active .ast-above-header,.ast-offcanvas-active .ast-above-header{z-index:4}.ast-fullscreen-active .ast-above-header.ast-sticky-active,.ast-offcanvas-active .ast-above-header.ast-sticky-active{z-index:0}#ast-fixed-header{position:fixed;visibility:hidden;top:0;left:0;width:100%}#ast-fixed-header .main-header-bar{box-shadow:0 1px 2px rgba(0,0,0,.2)}#ast-fixed-header.ast-header-slide{transform:translateY(-100%);transition:transform .3s linear,top .3s linear,visibility .3s linear}#ast-fixed-header.ast-header-fade{opacity:0;transition:opacity .3s linear}.main-header-bar.ast-sticky-active{box-shadow:0 2px 10px 0 rgba(36,50,66,.075)}.ast-sticky-custom-logo .ast-header-sticked .custom-logo-link,.ast-sticky-custom-logo .ast-header-sticked .custom-mobile-logo-link{display:none}.ast-sticky-custom-logo .ast-header-sticked .sticky-custom-logo{display:inline-block}.ast-sticky-custom-logo .ast-header-sticked .site-description,.ast-sticky-custom-logo .ast-header-sticked .site-title{display:none}.ast-sticky-custom-logo.ast-primary-sticky-header-active.ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .transparent-custom-logo{display:none}.ast-header-stick-fade-active .ast-sticky-custom-logo.ast-primary-sticky-header-active.ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .transparent-custom-logo,.ast-header-stick-scroll-active .ast-sticky-custom-logo.ast-primary-sticky-header-active.ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .transparent-custom-logo,.ast-header-stick-slide-active .ast-sticky-custom-logo.ast-primary-sticky-header-active.ast-header-break-point.ast-replace-site-logo-transparent.ast-theme-transparent-header .transparent-custom-logo{display:inline-block}.ast-sticky-main-shrink .ast-sticky-shrunk .main-header-bar,.ast-sticky-main-shrink .ast-sticky-shrunk.main-header-bar{line-height:55px}.ast-sticky-main-shrink .ast-sticky-shrunk .main-header-bar .ast-site-identity,.ast-sticky-main-shrink .ast-sticky-shrunk.main-header-bar .ast-site-identity{padding-top:.5em;padding-bottom:.5em}.ast-sticky-main-shrink .ast-sticky-shrunk .site-navigation{line-height:3}.ast-sticky-main-shrink .ast-sticky-shrunk .site-logo-img img{max-height:55px!important;width:auto}.ast-sticky-main-shrink.ast-header-break-point .ast-sticky-shrunk .main-header-bar,.ast-sticky-main-shrink.ast-header-break-point .ast-sticky-shrunk.main-header-bar{padding-bottom:0}.ast-sticky-main-shrink.ast-header-break-point .ast-sticky-shrunk .ast-mobile-menu-buttons{line-height:0;padding-bottom:.5em}.ast-sticky-main-shrink.ast-header-break-point .ast-sticky-shrunk .site-branding{padding-bottom:.5em}.ast-sticky-above-shrink .ast-sticky-shrunk .ast-above-header-bar .ast-site-identity,.ast-sticky-above-shrink .ast-sticky-shrunk.ast-above-header-bar .ast-site-identity{padding-top:.5em;padding-bottom:.5em}.ast-sticky-above-shrink .ast-sticky-shrunk .site-navigation{line-height:3}.ast-sticky-above-shrink .ast-sticky-shrunk .site-logo-img img{max-height:55px;width:auto}.ast-sticky-above-shrink.ast-header-break-point .ast-sticky-shrunk .ast-above-header-bar,.ast-sticky-above-shrink.ast-header-break-point .ast-sticky-shrunk.ast-above-header-bar{padding-bottom:0}.ast-sticky-above-shrink.ast-header-break-point .ast-sticky-shrunk .ast-mobile-menu-buttons{line-height:0;padding-bottom:.5em}.ast-sticky-above-shrink.ast-header-break-point .ast-sticky-shrunk .site-branding{padding-bottom:.5em}.ast-sticky-below-shrink .ast-sticky-shrunk .ast-below-header-bar .ast-site-identity,.ast-sticky-below-shrink .ast-sticky-shrunk.ast-below-header-bar .ast-site-identity{padding-top:.5em;padding-bottom:.5em}.ast-sticky-below-shrink .ast-sticky-shrunk .site-navigation{line-height:3}.ast-sticky-below-shrink .ast-sticky-shrunk .site-logo-img img{max-height:55px;width:auto}.ast-sticky-below-shrink.ast-header-break-point .ast-sticky-shrunk .ast-below-header-bar,.ast-sticky-below-shrink.ast-header-break-point .ast-sticky-shrunk.ast-below-header-bar{padding-bottom:0}.ast-sticky-below-shrink.ast-header-break-point .ast-sticky-shrunk .ast-mobile-menu-buttons{line-height:0;padding-bottom:.5em}.ast-sticky-below-shrink.ast-header-break-point .ast-sticky-shrunk .site-branding{padding-bottom:.5em}.ast-header-break-point .ast-sticky-active .sticky-custom-logo img{display:block}.ast-header-break-point .ast-has-mobile-header-logo .ast-header-sticked .sticky-custom-logo img{display:block}.ast-header-break-point .ast-has-mobile-header-logo .ast-header-sticked .ast-mobile-header-logo{display:none}.ast-header-break-point .ast-header-sticked .sticky-custom-logo img{display:block}.ast-header-break-point.ast-inherit-site-logo-sticky .ast-has-mobile-header-logo .ast-header-sticked .custom-logo-link img{display:none}.ast-header-break-point.ast-inherit-site-logo-sticky .ast-has-mobile-header-logo .ast-header-sticked .custom-mobile-logo-link img{display:inline-block}.above-header-toggle-on .main-header-bar{z-index:1}.ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-mobile-header-wrap .ast-mobile-header-content{display:none}.ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-desktop-header-content{display:none}.ast-main-header-nav-open.ast-hfb-header .ast-mobile-header-wrap .ast-mobile-header-content{display:block}.ast-main-header-nav-open.ast-hfb-header .ast-desktop-header-content{display:block}.ast-header-stick-fade-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-mobile-header-wrap .ast-mobile-header-content,.ast-header-stick-scroll-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-mobile-header-wrap .ast-mobile-header-content,.ast-header-stick-slide-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-mobile-header-wrap .ast-mobile-header-content{display:block}.ast-header-stick-fade-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-desktop-header-content,.ast-header-stick-scroll-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-desktop-header-content,.ast-header-stick-slide-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-desktop-header-content{display:block}.ast-header-stick-fade-active .ast-main-header-nav-open.ast-hfb-header #masthead>.ast-mobile-header-wrap .ast-mobile-header-content,.ast-header-stick-scroll-active .ast-main-header-nav-open.ast-hfb-header #masthead>.ast-mobile-header-wrap .ast-mobile-header-content,.ast-header-stick-slide-active .ast-main-header-nav-open.ast-hfb-header #masthead>.ast-mobile-header-wrap .ast-mobile-header-content{display:none}.ast-header-stick-fade-active .ast-main-header-nav-open.ast-hfb-header #masthead>.ast-desktop-header-content,.ast-header-stick-scroll-active .ast-main-header-nav-open.ast-hfb-header #masthead>.ast-desktop-header-content,.ast-header-stick-slide-active .ast-main-header-nav-open.ast-hfb-header #masthead>.ast-desktop-header-content{display:none}.ast-header-stick-fade-active.ast-off-canvas-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-mobile-header-wrap .ast-mobile-header-content,.ast-header-stick-scroll-active.ast-off-canvas-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-mobile-header-wrap .ast-mobile-header-content,.ast-header-stick-slide-active.ast-off-canvas-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-mobile-header-wrap .ast-mobile-header-content{display:none}.ast-header-stick-fade-active.ast-off-canvas-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-desktop-header-content,.ast-header-stick-scroll-active.ast-off-canvas-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-desktop-header-content,.ast-header-stick-slide-active.ast-off-canvas-active .ast-main-header-nav-open.ast-hfb-header #ast-fixed-header .ast-desktop-header-content{display:none}.ast-above-sticky-header-active.ast-main-header-nav-open.ast-hfb-header #masthead>#ast-desktop-header .ast-desktop-header-content,.ast-above-sticky-header-active.ast-main-header-nav-open.ast-hfb-header #masthead>.ast-mobile-header-wrap .ast-mobile-header-content,.ast-above-sticky-header-active.ast-main-header-nav-open.astra-hfb-header #masthead>#ast-desktop-header .ast-desktop-header-content,.ast-above-sticky-header-active.ast-main-header-nav-open.astra-hfb-header #masthead>.ast-mobile-header-wrap .ast-mobile-header-content,.ast-below-sticky-header-active.ast-main-header-nav-open.ast-hfb-header #masthead>#ast-desktop-header .ast-desktop-header-content,.ast-below-sticky-header-active.ast-main-header-nav-open.ast-hfb-header #masthead>.ast-mobile-header-wrap .ast-mobile-header-content,.ast-below-sticky-header-active.ast-main-header-nav-open.astra-hfb-header #masthead>#ast-desktop-header .ast-desktop-header-content,.ast-below-sticky-header-active.ast-main-header-nav-open.astra-hfb-header #masthead>.ast-mobile-header-wrap .ast-mobile-header-content,.ast-primary-sticky-header-active.ast-main-header-nav-open.ast-hfb-header #masthead>#ast-desktop-header .ast-desktop-header-content,.ast-primary-sticky-header-active.ast-main-header-nav-open.ast-hfb-header #masthead>.ast-mobile-header-wrap .ast-mobile-header-content,.ast-primary-sticky-header-active.ast-main-header-nav-open.astra-hfb-header #masthead>#ast-desktop-header .ast-desktop-header-content,.ast-primary-sticky-header-active.ast-main-header-nav-open.astra-hfb-header #masthead>.ast-mobile-header-wrap .ast-mobile-header-content{position:fixed}.site-above-header-wrap,.site-below-header-wrap,.site-primary-header-wrap{transition:all .2s linear}.ast-header-stick-slide-active .ast-flyout-menu-enable.ast-header-break-point #masthead>.main-header-bar-navigation{display:none!important}.ast-header-stick-fade-active .ast-flyout-menu-enable.ast-header-break-point #masthead>.main-header-bar-navigation{display:none!important}.ast-flyout-menu-overlay .ast-stick-primary-below-wrapper.ast-sticky-active{z-index:5}.ast-fullscreen-menu-overlay #ast-fixed-header{z-index:9}.ast-flyout-menu-enable.ast-primary-sticky-enabled .ast-stick-primary-below-wrapper,.ast-flyout-menu-enable.ast-primary-sticky-enabled .main-header-bar{overflow-y:unset!important}#ast-scroll-top{display:none;position:fixed;text-align:center;cursor:pointer;z-index:99;width:2.1em;height:2.1em;line-height:2.1;color:#fff;border-radius:2px;content:""}@media (min-width:769px){#ast-scroll-top{content:"769"}}#ast-scroll-top .ast-icon.icon-arrow svg{margin-left:0;vertical-align:middle;transform:translate(0,-20%) rotate(180deg);width:1.6em}.ast-scroll-to-top-right{right:30px;bottom:30px}.ast-scroll-to-top-left{left:30px;bottom:30px}.astra-full-megamenu-wrapper{z-index:99999}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.sub-menu>.menu-item{display:none}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li.ast-mm-has-desc>.menu-link{vertical-align:middle;text-align:center}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .menu-item:hover>.menu-link{background-color:transparent;color:inherit}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu{opacity:0;visibility:hidden}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu-focus .menu-item>.menu-link{background-color:transparent}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus{opacity:1;visibility:visible;-js-display:flex;display:flex;padding:15px}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu>.menu-item{padding-left:15px;padding-right:15px;display:block;flex:1;opacity:1}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu>.menu-item:first-child{padding-left:0}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu>.menu-item:last-child{padding-right:0}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu.col-2 .menu-item{width:50%}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu.col-3 .menu-item{width:33.33%}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu.col-4 .menu-item{width:25%}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu .menu-item:last-child{border-right:none}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus .sub-menu{background-color:transparent;display:block;opacity:1;visibility:visible;transform:none}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus .astra-nested-sub-menu .menu-item .menu-link{padding-left:24px}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus .astra-nested-sub-menu .astra-nested-sub-menu .menu-item .menu-link{padding-left:48px}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu .sub-menu{border:none}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu>.menu-item .sub-menu{position:static;width:100%;margin:auto}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu>.menu-item .sub-menu .menu-item{width:100%}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus>.menu-item{padding-left:15px;padding-right:15px}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus>.menu-item:first-child{padding-left:0}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-megamenu.astra-megamenu-focus>.menu-item:last-child{padding-right:0}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-full-megamenu-wrapper.astra-megamenu-wrapper-focus{opacity:1;visibility:visible}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-full-megamenu-wrapper.astra-megamenu-wrapper-focus .astra-megamenu.astra-megamenu-focus{-js-display:flex;display:flex}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-full-megamenu-wrapper .astra-mega-menu-width-full-stretched{width:100%}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .astra-full-megamenu-wrapper .astra-mega-menu-width-full-stretched .ast-mm-template-content{padding:0}.ast-desktop .ast-mega-menu-enabled .menu-item-has-children.astra-megamenu-li.menu-item .astra-megamenu.sub-menu .menu-item>.menu-link::after{content:''}.ast-desktop .ast-mega-menu-enabled .menu-item-has-children.astra-megamenu-li.menu-item .astra-megamenu.sub-menu .menu-item>.menu-link .ast-icon.icon-arrow{display:none}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li .sub-menu .menu-link,.ast-desktop .ast-mega-menu-enabled.submenu-with-border .astra-megamenu-li .sub-menu .menu-link{border:none}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu{opacity:1;visibility:visible;-js-display:flex;display:flex;padding:15px}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu>.menu-item{padding-left:15px;padding-right:15px}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu>.menu-item:first-child{padding-left:0}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu>.menu-item:last-child{padding-right:0}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu>.menu-item{padding-left:15px;padding-right:15px}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu>.menu-item:first-child{padding-left:0}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu>.menu-item:last-child{padding-right:0}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu.col-2 .menu-item{width:50%}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu.col-3 .menu-item{width:33.33%}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu.col-4 .menu-item{width:25%}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu>.menu-item{display:block;flex:1;opacity:1}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu .sub-menu{background-color:transparent;display:block;opacity:1;visibility:visible;transform:none}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu .astra-nested-sub-menu .menu-item .menu-link{padding-left:24px}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu .astra-nested-sub-menu .astra-nested-sub-menu .menu-item .menu-link{padding-left:48px}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu.sub-menu .sub-menu{border:none}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu.sub-menu>.menu-item .sub-menu{position:static;width:100%;margin:auto}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu.sub-menu>.menu-item .sub-menu .menu-item{width:100%}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-megamenu.sub-menu .menu-item:last-child{border-right:none}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-full-megamenu-wrapper{opacity:1;visibility:visible}.ast-desktop .ast-mega-menu-enabled .astra-megamenu-li:hover .astra-full-megamenu-wrapper .astra-megamenu{-js-display:flex;display:flex}.ast-desktop .ast-mega-menu-enabled :not(.menu-container-width-mega).astra-megamenu-li:hover .astra-megamenu .sub-menu .menu-item{width:100%}.ast-desktop .ast-mega-menu-enabled :not(.menu-container-width-mega).astra-megamenu-li:hover .astra-megamenu.sub-menu .menu-item .sub-menu{min-width:100%}.ast-desktop .ast-mega-menu-enabled :not(.menu-container-width-mega).astra-megamenu-li .astra-megamenu.astra-megamenu-focus .sub-menu .menu-item{width:100%}.ast-desktop .ast-mega-menu-enabled :not(.menu-container-width-mega).astra-megamenu-li .astra-megamenu.astra-megamenu-focus.sub-menu .menu-item .sub-menu{min-width:100%}.ast-desktop .ast-mega-menu-enabled .astra-full-megamenu-wrapper{background:#fff;position:absolute;opacity:0;visibility:hidden;top:100%}.ast-desktop .ast-mega-menu-enabled .astra-full-megamenu-wrapper .astra-megamenu.sub-menu{display:none;position:relative;left:0;top:0;margin:0 auto;padding-left:0;padding-right:0;border-width:0}.ast-desktop .ast-mega-menu-enabled .astra-full-megamenu-wrapper .astra-mega-menu-width-full-stretched.sub-menu{padding:15px}.ast-desktop .ast-above-header-menu .astra-megamenu-li .sub-menu .menu-item.current-menu-ancestor>.menu-link,.ast-desktop .ast-below-header-menu .astra-megamenu-li .sub-menu .menu-item.current-menu-ancestor>.menu-link,.ast-desktop .main-header-menu .astra-megamenu-li .sub-menu .menu-item.current-menu-ancestor>.menu-link{background-color:transparent;color:inherit}.ast-desktop .ast-above-header-menu .astra-megamenu-li .sub-menu .menu-item-heading .menu-text,.ast-desktop .ast-below-header-menu .astra-megamenu-li .sub-menu .menu-item-heading .menu-text,.ast-desktop .main-header-menu .astra-megamenu-li .sub-menu .menu-item-heading .menu-text{vertical-align:text-top}.ast-desktop .ast-mm-custom-text-content,.ast-desktop .ast-mm-template-content{padding:0 1em}.ast-desktop .ast-below-header .ast-mm-custom-text-content,.ast-desktop .ast-below-header .ast-mm-template-content{padding:.9em 1em}.ast-desktop .submenu-with-border .astra-full-megamenu-wrapper{border-width:1px;border-style:solid}.ast-desktop .ast-mm-widget-content a{display:initial}.ast-desktop .ast-mm-widget-content .ast-mm-widget-item{padding:1.5em}.ast-desktop .submenu-with-border .astra-megamenu{border-width:1px}.ast-menu-description{line-height:1.6;display:block;font-size:.8em;padding:2px 0}.site-header a .ast-menu-description,.site-header a .sub-arrow{transition:none}.site-header .menu-text{transition:none}.ast-header-break-point .ast-menu-description{line-height:inherit}.astra-mm-highlight-label{font-size:.7em;margin-left:5px;line-height:normal;padding:3px 6px;border-radius:2px}.ast-desktop .ast-hide-menu-item{display:none}.ast-desktop .ast-mega-menu-enabled .ast-hide-menu-item{display:none}.ast-desktop .ast-mega-menu-enabled.ast-above-header-menu>.menu-item-has-children>.menu-link::after,.ast-desktop .ast-mega-menu-enabled.ast-below-header-menu>.menu-item-has-children>.menu-link::after,.ast-desktop .ast-mega-menu-enabled.main-header-menu>.menu-item-has-children>.menu-link::after{content:'';margin:0}.ast-desktop .ast-mega-menu-enabled.ast-above-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .sub-arrow:after,.ast-desktop .ast-mega-menu-enabled.ast-below-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .sub-arrow:after,.ast-desktop .ast-mega-menu-enabled.main-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .sub-arrow:after{transform:rotate(-90deg)}.ast-desktop .ast-mega-menu-enabled.ast-above-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .sub-arrow,.ast-desktop .ast-mega-menu-enabled.ast-below-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .sub-arrow,.ast-desktop .ast-mega-menu-enabled.main-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .sub-arrow{position:absolute;right:5%;top:50%;transform:translateY(-50%)}.ast-desktop .ast-mega-menu-enabled.ast-above-header-menu .ast-masthead-custom-menu-items a:focus,.ast-desktop .ast-mega-menu-enabled.ast-above-header-menu .ast-masthead-custom-menu-items a:hover,.ast-desktop .ast-mega-menu-enabled.ast-below-header-menu .ast-masthead-custom-menu-items a:focus,.ast-desktop .ast-mega-menu-enabled.ast-below-header-menu .ast-masthead-custom-menu-items a:hover,.ast-desktop .ast-mega-menu-enabled.main-header-menu .ast-masthead-custom-menu-items a:focus,.ast-desktop .ast-mega-menu-enabled.main-header-menu .ast-masthead-custom-menu-items a:hover{background:0 0}.ast-builder-menu-mobile .ast-mega-menu-enabled.main-header-menu .menu-item-has-children.astra-megamenu-li>.menu-link .sub-arrow:after,.ast-builder-menu-mobile .ast-mega-menu-enabled.main-header-menu .menu-item-has-children>.menu-link .sub-arrow:after,.ast-header-break-point .ast-mega-menu-enabled.main-header-menu .menu-item-has-children.astra-megamenu-li>.menu-link .sub-arrow:after,.ast-header-break-point .ast-mega-menu-enabled.main-header-menu .menu-item-has-children>.menu-link .sub-arrow:after{display:none}.ast-disable-link{cursor:default}.ast-desktop .ast-mega-menu-enabled.ast-above-header-menu .sub-menu .menu-item.menu-item-heading:focus>.menu-link,.ast-desktop .ast-mega-menu-enabled.ast-above-header-menu .sub-menu .menu-item.menu-item-heading:hover>.menu-link,.ast-desktop .ast-mega-menu-enabled.ast-above-header-menu .sub-menu .menu-item.menu-item-heading>.menu-link:hover{background:0 0}.ast-desktop .ast-mega-menu-enabled.ast-below-header-menu .sub-menu .menu-item.menu-item-heading:focus>.menu-link,.ast-desktop .ast-mega-menu-enabled.ast-below-header-menu .sub-menu .menu-item.menu-item-heading:hover>.menu-link,.ast-desktop .ast-mega-menu-enabled.ast-below-header-menu .sub-menu .menu-item.menu-item-heading>.menu-link:hover{background:0 0}.ast-desktop .ast-mega-menu-enabled.main-header-menu .sub-menu .menu-item.menu-item-heading>.menu-link{background:0 0}.ast-desktop .ast-above-header-menu .astra-mega-menu-width-full,.ast-desktop .ast-above-header-menu .astra-mega-menu-width-full-stretched,.ast-desktop .ast-below-header-menu .astra-mega-menu-width-full,.ast-desktop .ast-below-header-menu .astra-mega-menu-width-full-stretched,.ast-desktop .astra-mega-menu-width-full,.ast-desktop .astra-mega-menu-width-full-stretched{background:0 0}.ast-desktop .main-header-menu>.menu-item .astra-full-megamenu-wrapper:before{position:absolute;content:'';top:0;left:0;width:100%;transform:translateY(-100%)}.ast-desktop .main-header-menu.ast-menu-shadow .astra-full-megamenu-wrapper .sub-menu{box-shadow:none}.ast-desktop .main-header-menu.ast-menu-shadow .astra-megamenu .sub-menu{box-shadow:none}.ast-desktop .main-header-menu.ast-menu-shadow .astra-full-megamenu-wrapper{box-shadow:0 4px 10px -2px rgba(0,0,0,.1)}.ast-header-break-point .ast-above-header .sub-menu .menu-item .ast-hide-menu-item,.ast-header-break-point .ast-below-header .sub-menu .menu-item .ast-hide-menu-item,.ast-header-break-point .main-navigation .sub-menu .menu-item .ast-hide-menu-item{display:none}.ast-header-break-point .ast-above-header .sub-menu .menu-item .ast-hide-menu-item+.ast-menu-toggle,.ast-header-break-point .ast-below-header .sub-menu .menu-item .ast-hide-menu-item+.ast-menu-toggle,.ast-header-break-point .main-navigation .sub-menu .menu-item .ast-hide-menu-item+.ast-menu-toggle{display:none}.ast-header-break-point .ast-above-header .sub-menu .menu-item .ast-hide-menu-item+.ast-menu-toggle+.sub-menu,.ast-header-break-point .ast-below-header .sub-menu .menu-item .ast-hide-menu-item+.ast-menu-toggle+.sub-menu,.ast-header-break-point .main-navigation .sub-menu .menu-item .ast-hide-menu-item+.ast-menu-toggle+.sub-menu{display:block!important}.ast-header-break-point .ast-above-header .sub-menu .menu-item .ast-hide-menu-item+.ast-menu-toggle+.ast-mm-custom-content+.sub-menu,.ast-header-break-point .ast-below-header .sub-menu .menu-item .ast-hide-menu-item+.ast-menu-toggle+.ast-mm-custom-content+.sub-menu,.ast-header-break-point .main-navigation .sub-menu .menu-item .ast-hide-menu-item+.ast-menu-toggle+.ast-mm-custom-content+.sub-menu{display:block!important}.ast-hidden{display:none!important}.main-header-bar-wrap .ast-search-box.header-cover{z-index:7}.ast-below-header-wrap .ast-search-box.header-cover #close,.ast-below-header-wrap .ast-search-box.header-cover .search-field{font-size:1.8em}.ast-below-header-wrap .ast-search-box.header-cover .search-submit{font-size:1.5em}.ast-search-box.full-screen,.ast-search-box.header-cover{display:none;opacity:0;transition:opacity .2s;width:100%;height:100%}.ast-search-box.full-screen .search-field,.ast-search-box.header-cover .search-field{background:0 0;border:0;color:#fafafa;box-shadow:none;text-align:left;padding:0}.ast-search-box.full-screen .search-submit,.ast-search-box.header-cover .search-submit{background:0 0;padding:0;color:#9e9e9e;transition:all .7s ease-In;outline:0;border:0;vertical-align:middle}.ast-search-box.full-screen .ast-search-wrapper,.ast-search-box.header-cover .ast-search-wrapper{position:absolute;width:100%;left:50%;top:50%;transform:translate(-50%,-50%)}.ast-search-box.full-screen .ast-search-wrapper .search-form,.ast-search-box.header-cover .ast-search-wrapper .search-form{line-height:normal}.ast-search-box.full-screen #close,.ast-search-box.header-cover #close{color:#fafafa;transform:rotate(0);font-size:2em;cursor:pointer;z-index:9;font-weight:400}.ast-search-box.full-screen .search-field::-webkit-input-placeholder,.ast-search-box.header-cover .search-field::-webkit-input-placeholder{color:#fafafa}.ast-search-box.full-screen .search-field:-moz-placeholder,.ast-search-box.header-cover .search-field:-moz-placeholder{color:#fafafa}.ast-search-box.full-screen .search-field::-moz-placeholder,.ast-search-box.header-cover .search-field::-moz-placeholder{color:#fafafa}.ast-search-box.full-screen .search-field:-ms-input-placeholder,.ast-search-box.header-cover .search-field:-ms-input-placeholder{color:#fafafa}.ast-search-box.header-cover{position:absolute;background:rgba(25,25,25,.94);top:0;z-index:10}.ast-search-box.header-cover .search-field{font-size:2em;line-height:2;width:100%}.ast-search-box.header-cover .ast-container{position:relative}.ast-search-box.header-cover .close,.ast-search-box.header-cover .search-submit,.ast-search-box.header-cover .search-text-wrap{display:inline-block}.ast-search-box.header-cover .search-text-wrap{width:calc(100% - 2.5em);vertical-align:middle}.ast-search-box.header-cover .search-submit{font-size:1.7em;margin-right:2em}.ast-search-box.header-cover #close{vertical-align:middle;-webkit-backface-visibility:hidden;backface-visibility:hidden}.ast-search-box.full-screen{position:fixed;background:rgba(25,25,25,.94);top:0;left:0;z-index:999}.ast-search-box.full-screen .ast-search-wrapper .large-search-text{text-align:center;color:#e2e2e2;font-size:1.5em;font-weight:400;transition-delay:50ms;transition:all .3s ease-in-out}.ast-search-box.full-screen .ast-search-wrapper fieldset{border:0;padding:2.5em 0 1em;border-bottom:2px solid #9e9e9e}.ast-search-box.full-screen .ast-search-wrapper .search-field{font-size:2.6em;padding-left:30px;line-height:1.7;width:90%;width:calc(100% - 1.5em);vertical-align:middle;text-align:center}.ast-search-box.full-screen .ast-search-wrapper .search-form{width:70%;margin:20px auto}.ast-search-box.full-screen .ast-search-wrapper .search-submit{font-size:2em}.ast-search-box.full-screen #close{position:absolute;color:#fafafa;right:1em;line-height:1;cursor:pointer;z-index:9;font-weight:400;font-size:2em;top:1.5em;-webkit-backface-visibility:hidden;backface-visibility:hidden}.ast-search-box.full-screen ::-webkit-input-placeholder{opacity:0}.ast-search-box.full-screen ::-moz-placeholder{opacity:0}.ast-search-box.full-screen :-ms-input-placeholder{opacity:0}.ast-search-box.full-screen :-moz-placeholder{opacity:0}@media (max-width:420px){.ast-search-box.full-screen ::-webkit-input-placeholder{opacity:1}.ast-search-box.full-screen ::-moz-placeholder{opacity:1}.ast-search-box.full-screen :-ms-input-placeholder{opacity:1}.ast-search-box.full-screen :-moz-placeholder{opacity:1}}.ast-hfb-header .ast-search-box.full-screen.full-screen ::-webkit-input-placeholder{opacity:.5}.ast-hfb-header .ast-search-box.full-screen.full-screen ::-moz-placeholder{opacity:.5}.ast-hfb-header .ast-search-box.full-screen.full-screen :-ms-input-placeholder{opacity:.5}.ast-hfb-header .ast-search-box.full-screen.full-screen :-moz-placeholder{opacity:.5}.site-header .ast-inline-search.ast-search-menu-icon .search-form{padding-left:0;padding-right:2em}.site-header .ast-inline-search.ast-search-menu-icon .search-field{width:auto;padding-left:1em;padding-right:0}.ast-inline-search.ast-search-menu-icon{position:relative;transform:none;left:0;right:0}.ast-inline-search.ast-search-menu-icon .search-submit{display:block;background:0 0;border:none;position:absolute;height:100%;right:.25em;padding:0;top:0;font-size:1.3em;color:#757575}.ast-header-break-point .ast-inline-search.ast-search-menu-icon .search-form{padding:0}.ast-header-break-point .site-header .ast-inline-search.ast-search-menu-icon .search-field{width:100%;padding-right:2em}.ast-header-custom-item-inside.ast-desktop .main-header-menu .ast-search-menu-icon.full-screen,.ast-header-custom-item-inside.ast-desktop .main-header-menu .ast-search-menu-icon.header-cover{display:none}.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-1 .ast-search-menu-icon .search-form{right:-1em;left:auto;padding-left:0;padding-right:3em}.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-1 .search-field{padding-right:0;padding-left:1em}.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-2 .ast-search-menu-icon .search-form{left:-1em;right:auto;padding-right:0;padding-left:3em}.ast-header-break-point .ast-swap-above-header-sections .ast-above-header-section-2 .search-field{padding-left:0;padding-right:1em}.ast-header-break-point .ast-above-header .ast-above-header-section-1 .ast-inline-search.ast-search-menu-icon .search-field{padding-right:0}.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .ast-above-header-section-2 .ast-search-menu-icon .search-form{padding-left:0;left:auto;padding-right:2em}.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .ast-above-header-section-2 .ast-search-menu-icon.slide-search .search-form{left:-1em;padding-left:2em}.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .ast-above-header-section-1 .search-field{padding-right:0}.ast-header-break-point .ast-swap-above-header-sections.ast-mobile-header-stack .ast-above-header .search-field{padding-right:0;padding-left:1em}.ast-header-break-point .ast-above-header-mobile-stack .ast-above-header .ast-above-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form{right:auto;padding-right:2em}.ast-header-break-point .ast-swap-below-header-sections .ast-below-header .below-header-section-2 .ast-search-menu-icon.ast-inline-search .search-form{left:0;padding-left:0;padding-right:2em}.ast-header-break-point .ast-swap-below-header-sections .below-header-section-1 .ast-search-menu-icon .search-form{right:-1em;left:auto;padding-left:0;padding-right:3em}.ast-header-break-point .ast-swap-below-header-sections .below-header-section-1 .search-field{padding-right:0;padding-left:1em}.ast-header-break-point .ast-swap-below-header-sections .below-header-section-2 .ast-search-menu-icon .search-form{left:-1em;right:auto;padding-right:0;padding-left:3em}.ast-header-break-point .ast-swap-below-header-sections .below-header-section-2 .search-field{padding-left:0;padding-right:1em}.ast-header-break-point .ast-below-header .below-header-section-1 .ast-inline-search.ast-search-menu-icon .search-field{padding-right:0}.ast-header-break-point .ast-swap-below-header-sections.site-header .ast-below-header .ast-inline-search.ast-search-menu-icon .search-field{padding-left:1em;padding-right:0}.ast-header-break-point .ast-swap-below-header-sections .ast-below-header .below-header-section-2 .ast-search-menu-icon .search-form{left:-1em;padding-left:3em;padding-right:1em}.ast-below-header-mobile-stack .ast-below-header .below-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form{right:auto;padding-right:2em}.iphone.full-screen,.ipod.full-screen{position:fixed!important}@media (max-width:992px){.ast-above-header-mobile-stack .ast-above-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form{left:auto}.ast-below-header-mobile-stack .below-header-section-1 .ast-search-menu-icon.ast-inline-search .search-form{left:auto}}@media (max-width:544px){.ast-search-box.full-screen .ast-search-wrapper .large-search-text{display:none}.ast-search-box.full-screen .ast-search-wrapper .search-field,.ast-search-box.full-screen .ast-search-wrapper .search-submit{font-size:1.6em}}